// ------------------------------------
// MIXINS
// ------------------------------------

// Border Radius

@mixin border-radius($radius) {
   -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
       -ms-border-radius: $radius;
           border-radius: $radius;
}

// Example Usage of above

// .example { 
//     @include border-radius(10px);
// }

// Flex Display

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// Transitions

@mixin transitionAll($seconds){
    -webkit-transition: all $seconds;
    -moz-transition: all $seconds;
    transition: all $seconds;
}