@import "../../node_modules/lucille-sass/core/sass-breakpoints/index.scss";
@import "../../node_modules/lucille-sass/core/sass-grid/dist/compiled.css";
@import "../../node_modules/lucille-sass/core/sass-spacing/dist/compiled.css";
@import "../../node_modules/normalize.css/normalize.css";

@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/owl.carousel/src/scss/owl.carousel.scss";

// ------------------------------------
// CORE STYLES
// ------------------------------------

.container {
    margin: auto;
    max-width: 1200px;
}

ul, h1, h2, h3, h4, h5, p {
    margin:0px;
    padding:0px;
}

a {
    text-decoration:none;
}